.Header{
  width: 1024px;
  padding: 2.0rem 0;
  margin: 0 auto;
}
.Header ul{
  list-style: none;
}
.logo_box{
  display: flex;
  justify-content: space-between;
}
.search_box{
  width: 1024px;
  font-size: 1.8rem;
  background-color: white;
  height: auto;
  display: flex;
  border-radius: 1.0rem;
  padding: 1.0rem 2.0rem;
  margin: 2.0rem auto 0;  
}
.search_box input[type=text]{
  font-family: 'NotoSansKR_m';
  background-color: white;
  width: 90%;  
  margin: 0;
  margin-left: 1.5rem;
  padding: 0%;
  border:none!important;
  outline: none!important;
}