.Nav{
  width: 100%;    
}
.content_backboard{
  width: 100%;  
  padding: 3.0rem 0;
  background-color: #E7886E;
}
.content_area{
  width: 1024px;
  margin: 0 auto;  
}
.content_title{
  width: auto;
  margin: 0 1.0rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  color:#fff;
  font-family: 'NotoSansKR_m';
}
.content_title a{
  display: flex;  
  align-items: end;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.modal-content{
  border-radius: 1.0rem;
}
.modal-header{
  background-color: #E7886E;
  color: #fff;
  font-size: 1.8rem;
  font-family: 'NotoSansKR_r';
  border-top-left-radius: calc(1.0rem - 1px);
  border-top-right-radius: calc(1.0rem - 1px);
}
.nav_modal_content {

}
.nav_modal_content .grid_box{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nav_modal_content h1{
  margin: 2.0rem auto;
  color: #E7886E;
  font-size: 2.4rem;
  font-family: 'NotoSansKR_m';
}
.nav_modal_content .grid_box .content_item{
  display: flex;
  margin-left: 2.0rem;
}
.nav_modal_content .grid_box .content_item .text_box{
  margin:  0 1.5rem ;
}

.nav_modal_content .grid_box .content_item .text_box h3{
  font-size: 1.8rem;
  font-family: 'NotoSansKR_m';
}

.nav_modal_content .grid_box .content_item .text_box p{
  font-size: 1.6rem;
  font-family: 'NotoSansKR_r';
  margin: 0;
}

.modal-body .grid_box .content_item .image img{
  width: 4.0rem;
}
.content_box{
  width: auto;
  background-color: #f3f3f3;
  padding: 3.0rem 2.0rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  margin: 0 1.0rem;
}

.icon_box{
  width: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-family: 'NotoSansKR_m';
}
.icon_box .image img{
  width: 6.4rem;
}

.btn-outline-secondary{
  margin: 4.0rem 0 1.0rem;
  font-size: 1.4rem;
  font-family: 'NotoSansKR_m';
}