.App {
  font-size: 10px!important;
  font-family: "NotoSansKR_r";  
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color:#f3f3f3;   
}
.image{display: flex;justify-content:center;align-items: center;}