.Search{
  width: 1024px;
  margin: 0 auto ;
}
.pagination {display:flex;justify-content: center;}
.pagination a{display: flex;width: 3.0rem;height: 3.0rem;justify-content: center;align-items: center;}
.pagination a::before{color: #5e5956;}
.pagination a:focus,#pagination a:hover { color: white; background-color:#0088ff;border-radius: 10rem;}